<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reports Page</title>
    <link rel="icon" type="image/x-icon" href="/static/images/Transactions_Icon.png">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="https://handsontable.com/docs/11.1.0/components/handsontable/dist/handsontable.full.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="/static/css/sidebar_styles.css">


</head>
<body>

    <div class="sidebar_main">


        <div class="sidebar main" id="mainLayer">
            <button class="layer-btn" id="langButton" data-lang="en">English</button>

            <a href="{{ url_for('dashboard') }}"><button class="layer-btn"   data-translate="Dashboard">Dashboard</button></a>
            <a href="{{ url_for('transactions') }}"><button class="layer-btn" data-translate="Transactions">Transactions</button></a>
            <button class="layer-btn" onclick="showLayer('reports')" data-translate="Reports">Reports</button>
    
            <div class="profile-section">
                <a href="{{ url_for('logout') }}"><button class="profile-btn" data-translate="Profile">Profile</button></a>
                <button class="settings-btn">
                    <!-- Example illustration for settings icon -->
                    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 96 960 960" width="24">
                        <path d="M462 975v-81q-42-8-78.5-24t-67.5-44l-66 30-108-173 63-46q-10-38-10-77t10-77l-63-46 108-173 66 30q29-27 67.5-43.5T462 249v-81h75v81q42 8 79.5 24.5T684 297l66-30 107 173-63 46q10 38 10 77t-10 77l63 46-107 173-66-30q-29 28-66.5 44t-79.5 24v81h-75zm37-169q83 0 141.5-58.5T699 606q0-83-58.5-141.5T499 406q-83 0-141.5 58.5T299 606q0 83 58.5 141.5T499 806z"/>
                    </svg>
                </button>
            </div>
        </div>
    
    

        <!-- Reports Layer -->
        <div class="sidebar layer" id="reportsLayer">
            <div class="layer-header">
                <button class="back-btn" onclick="showLayer('main')">←</button>
                <h2>Reports</h2>
            </div>
            <!-- Add content related to Reports -->
        </div>
    

        <div class="sidebar-opener" id="sidebarOpener">
        </div>
    </div>   

    <div id="messageBoxContainer">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="{{ 'message' if category == 'message' else 'error' }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <div class="sub-navbar">
        <div id="filterRow" class="filter-row"></div>
        <button id="resetButton" class="reset-button">Reset Filters</button>

    </div>
    <div class="table-container">
        <div id="hot"></div>
    </div>



    <div class="footer">
        <!-- Left Section for Template, Clear, Check All, Uncheck All -->
        <div class="footer-left">

        </div>
    
        <!-- Right Section for Submit and Row Count -->
        <div class="footer-right">
            <div class="row-count">
                <span class="row-label" data-translate="Row Count">Row Count</span>
                <span class="row-number" id="rowCount">0</span>
            </div>
                <a href="{{ url_for('download_filtered') }}"  method="get"><button class="button" type="submit" data-translate="Submit">Download</button></a>
        </div>
    </div>



    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="/static/js/sidebar_reports.js"></script>
    <script type="text/javascript" src="/static/js/language.js"> </script>


    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var hot;
            var container = document.getElementById('hot');

            // if (typeof translatePage === 'function') {
            //     translatePage();
            //     updateDirection();
            //     console.log('done transalting')
            // }
            // console.log('after')

            fetch('/dropdown_data')
                .then(response => response.json())
                .then(result => {
                    if (result.status === 'success') {
                        initializeFilters(result.data,currentLang, dictionary);
                        initializeHandsontable([]);
                    } else {
                        console.error('Error fetching dropdown data:', result.message);
                    }
                });



            const headersEnglish = [
            'Date', 'Segment', 'Type', 'Sub Type', 'Category', 'Sub Category', 'Details', 'Notes', 
            'Sub Notes', 'Transaction Description', 'Country Withdraw', 'Country Used', 
            'Account Name', 'Currency', 'Payeer', 'Paid To', 'Amount'
            ];

            const headersArabic = [
                'التاريخ', 'القطعة', 'النوع', 'النوع الفرعي', 'الفئة', 'الفئة الفرعية', 'التفاصيل', 'ملاحظات', 
                'ملاحظات فرعية', 'وصف المعاملة', 'بلد السحب', 'البلد المستخدم', 
                'اسم الحساب', 'العملة', 'المدفوع', 'المدفوع إلى', 'المبلغ'
            ];

            function getColumnHeadersByLanguage(language) {
                return language === 'en' ? headersEnglish : headersArabic;
            }




            
            // Function to translate data based on current language
            function translateData(data) {
                return data.map(row => {
                    let translatedRow = {...row};
                    for (let key in translatedRow) {
                        if (typeof translatedRow[key] === 'string') {
                            translatedRow[key] = translateText(translatedRow[key], currentLang, dictionary);
                        }
                    }
                    return translatedRow;
                });
            }


             // Function to translate dropdown data
            function translateDropdownData(dropdownData, currentLang, dictionary) {
                let translatedDropdownData = {};

                for (let key in dropdownData) {
                    translatedDropdownData[key] = dropdownData[key].map(item => translateText(item, currentLang, dictionary));
                }

                return translatedDropdownData;
            }

            function translateToEnglish(value, field) {
                console.log("value", value, "field", field)
                // Assuming dictionary is an object with Arabic-English key-value pairs
                if (dictionary[field] && dictionary[field][value]) {
                    console.log("dictionary[field][value]", dictionary[field][value])
                    return dictionary[field][value];  // Return English translation
                }
                return value;  // Return original value if no translation found
            }

            // Function to translate dropdown values to English before sending to the server
            function translateDropdownValuesToEnglish(rowData) {
                const translatedData = {...rowData};  // Create a copy of the rowData

                // Loop through the fields that need translation
                ['segment', 'type', 'sub_type', 'category', 'sub_category', 'currency', 'country_withdraw', 'country_used', 'payeer', 'paid_to', 'account_name'].forEach(field => {
                    if (translatedData[field]) {
                        // Translate the value to English using the dictionary
                        console.log(translatedData[field], field)
                        translatedData[field] = translateToEnglish(translatedData[field], field);
                    }
                });

                return translatedData;
            }

           


            function initializeFilters(data, currentLang, dictionary) {
        const filterRow = document.getElementById('filterRow');

        // Translate the dropdown data before using it
        const translatedData = translateDropdownData(data, currentLang, dictionary);

        const columns = [
            { id: 'dateFilter', type: 'date', placeholder: 'YYYY/MM/DD', label: 'Date', translationKey: 'date' },
            { id: 'segmentFilter', type: 'select', options: translatedData.segment, label: 'Segment', translationKey: 'segment' },
            { id: 'typeFilter', type: 'select', options: translatedData.type, label: 'Type', translationKey: 'type' },
            { id: 'subTypeFilter', type: 'select', options: translatedData.sub_type, label: 'Sub Type', translationKey: 'subType' },
            { id: 'categoryFilter', type: 'select', options: translatedData.category, label: 'Category', translationKey: 'category' },
            { id: 'subCategoryFilter', type: 'select', options: translatedData.sub_category, label: 'Sub Category', translationKey: 'subCategory' },
            { id: 'countryFilter', type: 'select', options: translatedData.country, label: 'Country Used', translationKey: 'countryUsed' },
            { id: 'accountFilter', type: 'select', options: translatedData.account_name, label: 'Account Name', translationKey: 'accountName' },
            { id: 'currencyFilter', type: 'select', options: translatedData.currency, label: 'Currency', translationKey: 'currency' },
            { id: 'payeerFilter', type: 'select', options: translatedData.account_name, label: 'Payeer', translationKey: 'payeer' },
            { id: 'paidToFilter', type: 'select', options: translatedData.account_name.concat(translatedData.member_name), label: 'Paid To', translationKey: 'paidTo' },
        ];

        columns.forEach(col => {
            const filterElement = document.createElement('div');
            filterElement.className = 'filter-element';

            const label = document.createElement('label');
            label.textContent = col.label;
            label.htmlFor = col.id;
            label.setAttribute('data-translate', col.translationKey);  // Add the data-translate attribute for translation
            filterElement.appendChild(label);

        if (col.type === 'select') {
            const select = document.createElement('select');
            select.id = col.id;
            const defaultOption = document.createElement('option');
            defaultOption.value = '';
            defaultOption.textContent = 'All';
            select.appendChild(defaultOption);
            col.options.forEach(option => {
                const opt = document.createElement('option');
                opt.value = option;
                opt.textContent = option;
                select.appendChild(opt);
            });
            select.addEventListener('change', fetchFilteredData);
            filterElement.appendChild(select);
        } else if (col.type === 'date') {
            const input = document.createElement('input');
            input.id = col.id;
            input.type = 'text';  // Change to 'text' to support flatpickr
            input.placeholder = col.placeholder || '';
            flatpickr(input, {
                mode: "range",
                dateFormat: "Y/m/d",
                onChange: fetchFilteredData
            });
            filterElement.appendChild(input);
        } else {
            const input = document.createElement('input');
            input.id = col.id;
            input.type = 'text';
            input.placeholder = col.placeholder || '';
            input.addEventListener('input', fetchFilteredData);
            filterElement.appendChild(input);
        }
        filterRow.appendChild(filterElement);
    });
}


            function initializeHandsontable(data) {
                const headers = getColumnHeadersByLanguage(currentLang); // Use static headers based on the selected language
                hot = new Handsontable(container, {
                    data: data,
                    colHeaders: headers,
                    columns: [
                        { data: 'date', type: 'date', dateFormat: 'YYYY/MM/DD' },
                        { data: 'segment' },
                        { data: 'type' },
                        { data: 'sub_type' },
                        { data: 'category' },
                        { data: 'sub_category' },
                        { data: 'details' },
                        { data: 'notes' },
                        { data: 'sub_notes' },
                        { data: 'transaction_description'},
                        { data: 'country_used' },
                        { data: 'account_name' },
                        { data: 'currency' },
                        { data: 'payeer' },
                        { data: 'paid_to' },
                        { data: 'amount', type: 'numeric' }
                    ],
                    manualColumnResize: true,
                    filters: true,
                    dropdownMenu: ['filter_by_value', 'filter_action_bar'],
                    licenseKey: 'non-commercial-and-evaluation',
                    manualColumnMove: true,
                    rowHeaders: true,
                    columnSorting: true,
                    multiSelect: true,
                    readOnly: true,
                    fillHandle: true,
                    stretchH: 'all',
                    manualColumnFreeze: true,
                    contextMenu: true,
                    wordWrap: false,
                    contextMenu: {
                            items: {
                                'cut': {name: 'Cut'},
                                'copy': {name: 'Copy'},
                                'freeze_column': {name: 'Freeze the selected column'},
                                'unfreeze_column': {name: 'Unfreeze the selected column'}
                            }
                        },
                });
            }

            function fetchFilteredData() {
    const filters = {
        date: document.getElementById('dateFilter').value,
        segment: document.getElementById('segmentFilter').value,
        type: document.getElementById('typeFilter').value,
        sub_type: document.getElementById('subTypeFilter').value,
        category: document.getElementById('categoryFilter').value,
        sub_category: document.getElementById('subCategoryFilter').value,
        country: document.getElementById('countryFilter').value,
        account_name: document.getElementById('accountFilter').value,
        currency: document.getElementById('currencyFilter').value,
        payeer: document.getElementById('payeerFilter').value,
        paid_to: document.getElementById('paidToFilter').value
    };



    console.log("Filters:", filters);

    // Translate filter values to English if the current language is Arabic
    const translatedFilters = translateDropdownValuesToEnglish(filters);
    console.log("Translated filters:", translatedFilters);

    fetch('/filter_transactions', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(translatedFilters)  // Send translated filter values
    })
    .then(response => response.json())
    .then(result => {
        if (result.status === 'success') {
            // Translate the result data back to the current language if necessary
            const translatedData = translateData(result.data);
            hot.loadData(translatedData);
            updateRowCount(result.data.length);

            // Store the current filters for later use
            document.getElementById('filtersInput').value = JSON.stringify(filters);
        } else {
            console.error('Error fetching filtered data:', result.message);
        }
    });
}



            
            function updateRowCount(count) {
                document.getElementById('rowCount').textContent = `${count}`;
            }

            function showMessage(message, type) {
                if (message) {
                    const messageBoxContainer = document.getElementById('messageBoxContainer');
                    const newMessageBox = document.createElement('div');
                    newMessageBox.textContent = message;
                    newMessageBox.classList.add(type === 'error' ? 'error' : 'message');
                    messageBoxContainer.appendChild(newMessageBox);
                    setTimeout(() => {
                        newMessageBox.remove();
                    }, 5000);  // Display for 5 seconds
                }
            }
            document.getElementById("resetButton").addEventListener("click", function() {
                location.reload();
            });
        });



        document.getElementById('downloadButton').addEventListener('click', () => {
            const lang = localStorage.getItem('lang') || 'en';  // Get the language from local storage
            const downloadUrl = `/download_filtered`;  // Add the language as a query parameter
            window.location.href = downloadUrl;  // Trigger the download
        });




    </script>

</body>
</html>
