<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transactions</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="icon" type="image/x-icon" href="/static/images/Transactions_Icon.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/moment@2.29.4/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@handsontable/pikaday@1.0.0/pikaday.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@handsontable/pikaday@1.0.0/css/pikaday.min.css">
    <link rel="stylesheet" href="/static/css/sidebar_styles.css">
    <script src="https://cdn.jsdelivr.net/npm/moment@2.29.3/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/pikaday@1.8.0/pikaday.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pikaday@1.8.0/css/pikaday.css">



        <!-- Toastr CSS -->

    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet"/>

    <!-- Socket.IO -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.1/socket.io.min.js"  crossorigin="anonymous" referrerpolicy="no-referrer"></script>




    
    <style>
        .greyRow {
            background-color: #f2f2f2 !important;
        }
        .fixed-table-container {
            width: 100%;
            height: 800px;
            margin: 0 auto; /* Center the container */
            overflow:scroll;
        }
        .fixed-table-container::-webkit-scrollbar {
        display: none; /* Safari and Chrome */
    }

        .whiteRow {
            background-color: rgb(255, 255, 255) !important;
        }
        .lightgreenRow {
            background-color: rgb(222, 255, 201) !important;
        }

        .greenRow {
            background-color: rgb(112, 253, 112) !important;
        }

        .redRow {
            background-color: rgb(253, 153, 153) !important;
        }

        .lightRedRow {
            background-color: rgb(255, 214, 214)  !important; /* Or any other shade of light red */
        }
        

        /* Toastr position adjustments */
        #toast-container > div {
            opacity: 1;
        }

    </style>
</head>
<body>


    <div class="sidebar_main">


        <div class="sidebar main" id="mainLayer">
             <button class="layer-btn" id="langButton" data-lang="en">English</button>

             <a href="{{ url_for('dashboard') }}"><button class="layer-btn" data-translate="Dashboard">Dashboard</button></a>
             <button class="layer-btn" onclick="showLayer('transactions')" data-translate="Transactions">Transactions</button>
            <a href="{{ url_for('reports') }}"><button class="layer-btn" data-translate="Reports">Reports</button></a>
    
            <div class="profile-section">
                <a href="{{ url_for('logout') }}"><button class="profile-btn" data-translate="Profile">Profile</button></a>
                <button class="settings-btn">
                    <!-- Example illustration for settings icon -->
                    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 96 960 960" width="24">
                        <path d="M462 975v-81q-42-8-78.5-24t-67.5-44l-66 30-108-173 63-46q-10-38-10-77t10-77l-63-46 108-173 66 30q29-27 67.5-43.5T462 249v-81h75v81q42 8 79.5 24.5T684 297l66-30 107 173-63 46q10 38 10 77t-10 77l63 46-107 173-66-30q-29 28-66.5 44t-79.5 24v81h-75zm37-169q83 0 141.5-58.5T699 606q0-83-58.5-141.5T499 406q-83 0-141.5 58.5T299 606q0 83 58.5 141.5T499 806z"/>
                    </svg>
                </button>
            </div>
        </div>
    
        <!-- Transactions Layer -->
        <div class="sidebar layer" id="transactionsLayer">
            <div class="layer-header">
                <button class="back-btn" onclick="showLayer('main')">←</button>
                <h2 data-translate="Transactions">Transactions</h2>
            </div>
        </div>
    
        <div class="sidebar-opener" id="sidebarOpener">
        </div>
    </div>   


    
    <div id="messageBoxContainer">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="{{ 'message' if category == 'message' else 'error' }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <div class="sub-navbar">
        <button onclick="callUpdateTransactionsTemp()" data-translate="Autofill">Autofill</button>

        <button id="downloadButton" class="download-btn"  data-translate="Download">Download</button>
        <button id="uploadBtn" data-translate="Upload">Upload</button>
    </div>
    <div class="fixed-table-container border">
        <div id="hot"></div>
    </div>
    <div class="footer">
        <!-- Left Section for Template, Clear, Check All, Uncheck All -->
        <div class="footer-left">
            <button id="downloadTemplateButton"class="button template-button" data-translate="Template">Template</button>
            <button class="button" onclick="clearTable()" data-translate="Clear Table">Clear Table</button>
            <button class="button" onclick="checkAll()" data-translate="Check All">Check All</button>
            <button class="button" onclick="uncheckAll()" data-translate="Uncheck All">Uncheck All</button>
        </div>
    
        <!-- Right Section for Submit and Row Count -->
        <div class="footer-right">
            <div class="row-count">
                <span class="row-label" data-translate="Row Count">Row Count</span>
                <span class="row-number" id="rowCount">0</span>
            </div>
                <a href="{{ url_for('finalize_transactions') }}"  method="get"><button class="button" type="submit" data-translate="Submit">Submit</button></a>
        </div>
    </div>
    
    <div id="uploadModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <div class="upload-section">
                <form action="/upload" method="POST" enctype="multipart/form-data" style="display: flex; justify-content: space-between; width: 100%;" >
                    <input class="file-input" type="file" name="file" accept=".xlsx" data-translate-placeholder="Choose File">
                    <input class="upload-btn" type="submit" value="Upload Excel" data-translate-value="Upload Excel">

                </form>
                <form style="display: flex; justify-content: space-between; width: 100%;" onsubmit="event.preventDefault(); addRow();">
                    <input class="input__field" type="number" id="addrows" name="addrows" placeholder="Choose Rows to Add" min="1" data-translate-placeholder="Choose Rows to Add">
                    <input class="upload-btn" type="submit" value="Upload Manual" data-translate-value="Manual Upload">
                </form>
            </div>
        </div>
    </div>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <!-- Handsontable JS -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.js"></script>
    <!-- jQuery (Ensure it's loaded before other scripts that depend on it) -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.29.3/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/pikaday@1.8.0/pikaday.min.js"></script>
    <script src="/static/js/scripts.js"></script>
    <script type="text/javascript" src="/static/js/language.js"> </script>
    <script src="/static/js/sidebar_transactions.js"></script>


    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            let dropdownData = {};
            let tableData = [];
            let hot;  // Declare Handsontable instance in a higher scope


            const headersEnglish = [
            '', 'Date', 'Segment', 'Type', 'Sub Type', 'Category', 'Sub Category', 'Details', 'Notes', 
            'Sub Notes', 'Transaction Description', 'Country Withdraw', 'Country Used', 
            'Account Name', 'Currency', 'Payeer', 'Paid To', 'Amount'
            ];

            const headersArabic = [
                '', 'التاريخ', 'الشريحة', 'النوع', 'النوع الفرعي', 'التصنيف', 'التصنيف الفرعي', 'التفاصيل', 'الملاحظات', 
                'الملاحظات فرعية', 'وصف العملية', 'بلد السحب', 'بلد الاستخدام', 
                'اسم الحساب', 'العملة', 'الدافع', 'المدفوع اليه', 'المبلغ'
            ];

            // Use static headers based on current language
            function getColumnHeadersByLanguage(language) {
                return language === 'en' ? headersEnglish : headersArabic;
            }

            // Initialize Socket.IO client
            const socket = io();

            // Function to show Toastr notifications
            function showToast(type, message) {
                if (type === 'success') {
                    toastr.success(message);
                } else if (type === 'error') {
                    toastr.error(message);
                } else if (type === 'info') {
                    toastr.info(message);
                } else if (type === 'warning') {
                    toastr.warning(message);
                }
            }

            // Join a room based on the user's table name
            function joinRoom(room) {
                socket.emit('join', {room: room});
                console.log(`Joining room: ${room}`);
            }

            // Leave a room
            function leaveRoom(room) {
                socket.emit('leave', {room: room});
                console.log(`Leaving room: ${room}`);
            }

            // Function to translate dropdown data
            function translateDropdownData(dropdownData, currentLang, dictionary) {
                let translatedDropdownData = {};

                for (let key in dropdownData) {
                    translatedDropdownData[key] = dropdownData[key].map(item => translateText(item, currentLang, dictionary));
                }

                return translatedDropdownData;
            }

            // Debounce function to limit the rate of function execution
            function debounce(func, wait) {
                let timeout;
                return function(...args) {
                    const context = this;
                    clearTimeout(timeout);
                    timeout = setTimeout(() => func.apply(context, args), wait);
                };
            }

            // Modify fetchDataAndInitialize function to handle dropdown translation
            function fetchDataAndInitialize() {
                Promise.all([
                    fetch('/dropdown_data').then(response => response.json()),
                    fetch('/get_transactions_data').then(response => response.json()),
                ])
                .then(([dropdownResult, transactionsResult]) => {
                    console.log('Dropdown Result:', dropdownResult);
                    console.log('Transactions Result:', transactionsResult);
                    
                    if (dropdownResult.status === 'success') {
                        // Translate dropdown data based on the current language
                        dropdownData = translateDropdownData(dropdownResult.data, currentLang, dictionary);
                        console.log('Dropdown data fetched and translated successfully:', dropdownData);
                    } else {
                        console.error('Error fetching dropdown data:', dropdownResult.message);
                        showToast('error', 'Failed to fetch dropdown data.');
                    }

                    if (transactionsResult.status === 'success') {
                        tableData = translateData(transactionsResult.data);  // Translate the table data
                        tableData = parseDates(tableData);
                        console.log('Transaction data fetched and translated successfully:', tableData);
                        updateRowCount(tableData.length);
                    } else {
                        console.error('Error fetching transaction data:', transactionsResult.message);
                        showToast('error', 'Failed to fetch transaction data.');
                    }

                    initializeHandsontable(tableData, dropdownData);
                    hot.validateCells();

        

                    // Join the room for real-time updates
                    const room = `Transactions_Temp_${currentUserUsername}`;
                    joinRoom(room);
                })
                .catch(error => {
                    console.error('Error fetching data:', error);
                    showToast('error', 'An error occurred while fetching data.');
                });
            }


            // Function to translate data based on current language
            function translateData(data) {
                return data.map(row => {
                    let translatedRow = {...row};
                    for (let key in translatedRow) {
                        if (typeof translatedRow[key] === 'string') {
                            translatedRow[key] = translateText(translatedRow[key], currentLang, dictionary);
                        }
                    }
                    return translatedRow;
                });
            }


            // Function to get the English version of a dropdown value from the dictionary
            function translateToEnglish(value) {
                const currentLang = 'en'; // We are translating to English, so always use 'en'

                // Ensure dictionary and the specific language data exist
                if (dictionary[currentLang]) {
                    const translations = dictionary[currentLang]; // Get the translations for 'en'

                    // Return the translated value if it exists, otherwise return the original value
                    return translations[value] || value;
                } else {
                    console.error('Dictionary for English is not loaded.');
                    return value; // Return the original value if dictionary isn't loaded
                }
            }


            // Function to translate dropdown values to English before sending to the server
            function translateDropdownValuesToEnglish(rowData) {
                const translatedData = {...rowData};  // Create a copy of the rowData

                // Loop through the fields that need translation
                ['segment', 'type', 'sub_type', 'category', 'sub_category', 'currency', 'country_withdraw', 'country_used', 'payeer', 'paid_to', 'account_name'].forEach(field => {
                    if (translatedData[field]) {
                        // Translate the value to English using the dictionary
                        translatedData[field] = translateToEnglish(translatedData[field], field);
                    }
                });

                return translatedData;
            }

            // Function to parse date strings and keep them in 'YYYY-MM-DD' format
            function parseDates(data) {
                return data.map(row => {
                    if (row.date && typeof row.date === 'string') {
                        // Format the date string to 'YYYY-MM-DD' using moment.js
                        row.date = moment(row.date).format('YYYY-MM-DD');
                    }
                    return row;
                });
            }



            // Initialize Handsontable
            function initializeHandsontable(data, translatedDropdownData) {
                console.log('Initializing Handsontable with data:', data);



                const container = document.getElementById('hot');
                const headers = getColumnHeadersByLanguage(currentLang); // Use static headers based on the selected language

                hot = new Handsontable(container, {
                    data: data,
                    colHeaders: headers,
                    columns: [
                        {
                            data: 'checkbox',
                            type: 'checkbox',
                            checkedTemplate: 1,
                            uncheckedTemplate: 0,
                        },
                        {data: 'date', type: 'date', dateFormat: 'YYYY-MM-DD', correctFormat: true},
                        {data: 'segment', type: 'dropdown', source: translatedDropdownData.segment, allowInvalid: false},
                        {data: 'type', type: 'dropdown', source: translatedDropdownData.type, allowInvalid: false},
                        {data: 'sub_type', type: 'dropdown', source: translatedDropdownData.sub_type, allowInvalid: false},
                        {data: 'category', type: 'dropdown', source: translatedDropdownData.category, allowInvalid: false},
                        {data: 'sub_category', type: 'autocomplete', editor: 'autocomplete', validator: 'autocomplete', source: translatedDropdownData.sub_category},
                        {data: 'details'},
                        {data: 'notes'},
                        {data: 'sub_notes'},
                        {data: 'transaction_description'},
                        {data: 'country_withdraw', type: 'dropdown', source: translatedDropdownData.country, allowInvalid: false},
                        {data: 'country_used', type: 'dropdown', source: translatedDropdownData.country, allowInvalid: false},
                        {data: 'account_name', type: 'dropdown', source: translatedDropdownData.account_name, allowInvalid: false},
                        {data: 'currency', type: 'dropdown', source: translatedDropdownData.currency, allowInvalid: false},
                        {data: 'payeer', type: 'dropdown', source: translatedDropdownData.payeer},
                        {data: 'paid_to', type: 'dropdown', source: translatedDropdownData.paid_to},
                        {data: 'amount', type: 'numeric'},
                        // Add 'status' column if needed
                    ],
                    manualColumnResize: true,
                    filters: true,
                    dropdownMenu: ['filter_by_value', 'filter_action_bar'],
                    licenseKey: 'non-commercial-and-evaluation',
                    manualColumnMove: true,
                    rowHeaders: true,
                    columnSorting: true,
                    multiSelect: true,
                    fillHandle: true,
                    stretchH: 'all',
                    manualColumnFreeze: true,
                    contextMenu: {
                        items: {
                            'row_above': {name: 'Insert a row above'},
                            'row_below': {name: 'Insert a row below'},
                            'hsep1': '---------',
                            'remove_row': {name: 'Remove the selected row'},
                            'hsep2': '---------',
                            'undo': {name: 'Undo the last action'},
                            'redo': {name: 'Redo the last action'},
                            'hsep3': '---------',
                            'cut': {name: 'Cut'},
                            'copy': {name: 'Copy'},
                            'hsep4': '---------',
                            'freeze_column': {name: 'Freeze the selected column'},
                            'unfreeze_column': {name: 'Unfreeze the selected column'}
                        }
                    },
                    cells: function (row, col) {
                        let cellProperties = {};
                        const rowData = this.instance.getSourceDataAtRow(row);

                        
                        // Check if the current cell has errors and should be highlighted red
                        if (rowData.incorrect_columns && rowData.incorrect_columns.includes(this.instance.colToProp(col))) {
                            cellProperties.className = 'redRow';
                        }

                        // Now check if any cell in this row has the 'redRow' class
                        var rowHasRedCell = rowData.incorrect_columns && rowData.incorrect_columns.length > 0;

                        // If any cell in this row is red, apply light red color to all cells in the row
                        if (rowHasRedCell && !cellProperties.className) {
                            cellProperties.className = 'lightRedRow';
                        }

                        if (rowData.ready === 1) {
                            cellProperties.className = 'lightgreenRow';
                        }


                        // Enable checkbox if ready is 1
                        if (col === 0 && rowData.ready === 1) {
                            cellProperties.readOnly = false;  
                        }

                        if (rowData.ready === 1 && rowData.checkbox === 1) {
                            cellProperties.className = 'greenRow';
                        }

                        return cellProperties;
                    },
                    afterChange: debounce(function (changes, source) {
                        if (source === 'loadData') {
                            return;
                        }

                        changes.forEach(function ([row, col, oldValue, newValue]) {
                            if (oldValue !== newValue) {
                                let rowData = hot.getSourceDataAtRow(row);

                                if (rowData) {
                                    // Translate dropdown values to English
                                    const translatedData = translateDropdownValuesToEnglish(rowData);

                                    let payload = {
                                        id: translatedData.transaction_id,
                                        field: hot.colToProp(col),
                                        value: translatedData[hot.colToProp(col)], // Send the translated English value
                                    };

                                    console.log('Sending AJAX payload:', payload);
                                    $.ajax({
                                        url: '/update_transaction',
                                        type: 'POST',
                                        contentType: 'application/json',
                                        data: JSON.stringify(payload),
                                        success: function (response) {
                                            if (response.success) {
                                                console.log('Update successful:', response);
                                                showToast('success', 'Transaction updated successfully.');
                                            } else {
                                                console.error('Update failed:', response.error);
                                                showToast('error', 'Failed to update transaction.');
                                            }
                                        },
                                        error: function (error) {
                                            console.error('Update failed:', error);
                                            showToast('error', 'Failed to update transaction.');
                                        }
                                    });
                                } else {
                                    console.error('Row data is undefined for row:', row);
                                    showToast('error', 'Failed to retrieve row data.');
                                }
                            }
                        });
                    }, 500),  // Debounce delay: 500ms
                    // Debounce delay: 500ms
                    afterCreateRow: function (index, amount) {
                        setTimeout(function() {
                            let newRowData = hot.getSourceDataAtRow(index);

                            if (newRowData) {
                                // Translate dropdown values to English
                                const translatedData = translateDropdownValuesToEnglish(newRowData);

                                $.ajax({
                                    url: '/insert_transaction',
                                    type: 'POST',
                                    contentType: 'application/json',
                                    data: JSON.stringify(translatedData),  // Send translated English data
                                    success: function (response) {
                                        if (response.success) {
                                            console.log('Insert successful:', response);
                                            showToast('success', 'New transaction added successfully.');
                                            socket.emit('data_updated', {room: `Transactions_Temp_${currentUserUsername}`});
                                        } else {
                                            console.error('Insert failed:', response.error);
                                            showToast('error', 'Failed to add new transaction.');
                                        }
                                    },
                                    error: function (error) {
                                        console.error('Insert failed:', error);
                                        showToast('error', 'Failed to add new transaction.');
                                    }
                                });
                            }
                        }, 0);
                    }

                });
            }

            // Function to handle real-time updates from the server
            function setupSocketListeners() {
                socket.on('connect', () => {
                    console.log('Connected to WebSocket server.');
                });

                socket.on('disconnect', () => {
                    console.log('Disconnected from WebSocket server.');
                });

                socket.on('data_updated', (data) => {
                    console.log('Data updated:', data);
                    if (data.room === `Transactions_Temp_${currentUserUsername}`) {
                        console.log('Data received for room:', data.room);
                        // Fetch the updated data and refresh Handsontable
                        fetch('/get_transactions_data')
                            .then(response => response.json())
                            .then(result => {
                                if (result.status === 'success') {
                                    tableData = translateData(result.data);
                                    tableData = parseDates(tableData);
                                    hot.loadData(tableData);
                                    updateRowCount(tableData.length);
                                    showToast('info', 'Transactions data has been updated.');
                                    console.log('Handsontable data refreshed.');
                                } else {
                                    console.error('Error fetching updated data:', result.message);
                                    showToast('error', 'Failed to fetch updated transactions data.');
                                }
                            })
                            .catch(error => {
                                console.error('Error during data fetch:', error);
                                showToast('error', 'An error occurred while fetching updated data.');
                            });
                    }
                });
            }

            // Function to update row count
            function updateRowCount(count) {
                document.getElementById('rowCount').textContent = count;
            }

            // Translate text based on the dictionary and current language
            function translateText(text, lang, dictionary) {
                return dictionary[lang][text] || text;
            }

            // Translate column headers with the language
            function translateHeaders(headers) {
                return headers.map(header => translateText(header, currentLang, dictionary));
            }

            // Translate data before giving to Handsontable
            function translateData(data) {
                return data.map(row => {
                    let translatedRow = {...row};
                    for (let key in translatedRow) {
                        if (typeof translatedRow[key] === 'string') {
                            translatedRow[key] = translateText(translatedRow[key], currentLang, dictionary);
                        }
                    }
                    return translatedRow;
                });
            }

            // Function to handle language changes
            function handleLanguageChange(newLang) {
                currentLang = newLang;
                localStorage.setItem('lang', currentLang);
                translatePage(dictionary, currentLang);
                updateDirection(currentLang);
                fetchDataAndInitialize();
            }

            // Fetch current user's username from a global JavaScript variable
            // Ensure to set this variable in your Flask template
            const currentUserUsername = "{{ current_user.username }}";
            console.log('Current User Username:', currentUserUsername);

            // Fetch data and initialize Handsontable
            fetchDataAndInitialize();

            // Setup WebSocket listeners
            setupSocketListeners();

            // Join the user's room for real-time updates
            joinRoom(`Transactions_Temp_${currentUserUsername}`);


        });


                // Template download button logic
        document.getElementById('downloadTemplateButton').addEventListener('click', () => {
            const lang = localStorage.getItem('lang') || 'en';  // Get the language from local storage
            const downloadUrl = `/template_download?lang=${lang}`;  // Add the language as a query parameter
            window.location.href = downloadUrl;  // Trigger the download
        });

        document.getElementById('downloadButton').addEventListener('click', () => {
            const lang = localStorage.getItem('lang') || 'en';  // Get the language from local storage
            const downloadUrl = `/download?lang=${lang}`;  // Add the language as a query parameter
            window.location.href = downloadUrl;  // Trigger the download
        });
    </script>


    
    
    
</body>
</html>

